@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@font-face {
	font-family: 'Fish';
	src: url('//2ttf.com/webfont/Jp16RpQN0a8/webfont.ttf') format('truetype');
}

.text-logo {
	color: #05386b !important;
}

/* START login */
#portalLogin {
	background-image: url('/moov/portal/assets/images/login_portal_background_1920x1200.jpg');
	background-size: cover;
	background-position: center;
	background-color: #000000;
}

#loginCard, #forgotCard {
	width: 500px;
	max-width: 100%;
}
/* END login */

/* START proccessing icon */
.processing-icon {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: text-bottom;
	background-color: #edf5e1;
	border-radius: 50%;
	-webkit-animation: car-wheel-turning 1.1s linear infinite;
	animation: car-wheel-turning 1.1s linear infinite;
}

@-webkit-keyframes car-wheel-turning {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes car-wheel-turning {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/* END processing icon */

/* START user avatar */
.customer-avatar {
	background-size: cover !important;
	width: 250px;
	height: 250px;
	max-width: 100%;
    max-height: 100%;
    background-position: center !important;
    background-color: #edf5e1 !important;
}
/* END user avatar */

/* START customer table search engine */
#sortBy, #searchField {
    width: 100% !important;
}

@media (min-width: 768px) {
    #sortBy {
        width: 15% !important;
    }
    
    #searchField {
        width: 60% !important;
    }
}

@media (min-width: 992px) {
    #searchField {
        width: 70% !important;
    }
}
/* END customer table search engine */

/* START footer align bottom */
.footer-align-bottom {
    min-height: calc(100vh - 190px);
}

.footer {
    height: 50px;
}

/* END footer align bottom */

/* START staff avatar & car image */
.staff-avatar, .car-image {
	background-size: cover !important;
	width: 250px;
	height: 250px;
	max-width: 100%;
    max-height: 100%;
    background-position: center !important;
    background-color: #edf5e1 !important;
}

.car-image {
    width: 500px !important;
    height: 300px !important;
}
/* END staff avatar & car image */

/* START hide number input selector */
/* Chrome, Safari, Edge, Opera */
.number-hide::-webkit-outer-spin-button,
.number-hide::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.number-hide[type=number] {
    -moz-appearance: textfield;
}
/* END hide number input selector */

/* START car image upload button */
#carImageUpload {
    width: 500px !important;
    text-align: left !important;
}

@media (min-width: 768px) {
    #carImageUpload {
        text-align: center !important;
    }
}
/* END car image upload button */