@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

/* Landing Page */

#landing-page {
    text-align: center;
}

#landing-page #hero {
    padding: 100px;
    background-image: url("../images/banner.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#landing-page #hero-detail h1,
#landing-page #hero-detail h3 {
    color: var(--white);
    text-shadow: 2px 2px 5px var(--black);
}

#landing-page #hero-detail h1 {
    margin-bottom: 25px;
    font-size: 3em;
    font-weight: bold;
}

#landing-page #hero-detail h3 {
    margin: 25px 0 50px 0;
}

#landing-page #about,
#landing-page #features {
    padding-bottom: 25px;
    background-color: var(--white);
}

#landing-page #about h2,
#landing-page #features h2 {
    padding-top: 1em;
    margin-bottom: 50px;
    font-size: 2.5em;
}

#landing-page #about i {
    color: var(--primary);
    margin-bottom: 15px;
}

#landing-page #about .about-item {
    margin-bottom: 25px;
}

#landing-page #features .feature-row {
    margin-bottom: 25px;
}

#landing-page #features .feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-page #features .feature-image img {
    height: 150px;
}

#landing-page #features .feature-detail {
    text-align: left;
}

.bg-logo {
    color: #edf5e1;
    background-color: #05386b;
    border-color: #05386b;
}

/* START proccessing icon */
.processing-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom;
    background-color: #edf5e1;
    border-radius: 50%;
    -webkit-animation: car-wheel-turning 1.1s linear infinite;
    animation: car-wheel-turning 1.1s linear infinite;
}

@-webkit-keyframes car-wheel-turning {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes car-wheel-turning {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* END processing icon */

/* START user avatar */
.user-avatar, .car-image {
    background-size: cover !important;
    width: 250px;
    height: 250px;
    max-width: 100%;
    max-height: 100%;
    background-position: center !important;
    background-color: #edf5e1 !important;
}

.nav-avatar {
    width: 30px;
    height: 30px;
    background-size: cover !important;
    max-width: 100%;
    background-position: center !important;
    background-color: #edf5e1 !important;
}

.nav-account.dropdown-toggle::after {
    display: none !important;
}

.car-image {
    width: 500px !important;
    height: 300px !important;
}
/* END user avatar */

/* START 404 */
#error {
    background-size: cover;
    background-position: center;
    background-color: #edf5e1;
}

#errorCard {
    width: 1200px;
    max-width: 100%;
}
/* END 404 */

/* START driving license */
#driving-license {
    background: url('/moov/assets/images/driving_license_1445x700.jpg');
    background-position: bottom !important;
    background-size: cover !important;
    background-color: transparent !important;
    width: 500px;
    max-width: 100%;
}

#driving-license .user-avatar {
    width: 150px;
    height: 150px;
}

.driving-license-content {
    width: 500px;
    max-width: 100%;
}

.dl-expired {
    z-index: 100;
    transform: rotate(-14deg);
    border: 0.5rem double;
    top: 4%;
}
/* END driving license */

/* START footer align bottom */
.footer-align-bottom {
    min-height: calc(100vh - 190px);
}

.footer {
    height: 50px;
}
/* END footer align bottom */

/* START booking page */
#book {
    background: url('/moov/assets/test.jpg');
    background-position: bottom !important;
    background-size: cover !important;
    background-color: transparent !important;
}

#find-car-card {
    width: 800px;
    max-width: 100%;
}

.car-search-result {
    text-align: center !important;
}

@media (min-width: 768px) {
    .car-search-result {
        text-align: left !important;
    }
}
/* END booking page */

/*START Contact-us pge */
#contact-us {
    background: url('../images/contact-us-background.png');
    background-position: bottom !important;
    background-size: cover !important;
    background-color: transparent !important;
}
/* END contact-us page */

/* START hide number input selector */
/* Chrome, Safari, Edge, Opera */
.number-hide::-webkit-outer-spin-button,
.number-hide::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.number-hide[type=number] {
    -moz-appearance: textfield;
}
/* END hide number input selector */